
<div id="<%= dom_id item %>">
  <%= item.sku %>
  <%= item.status %>

  <%= button_to "Update Status",
                item_path(item),
                method: :patch,
                class: "button" %>
    <%= link_to "Show", item, class: "button" %>
  <%= button_to "Destroy",
                item_path(item),
                method: :delete,
                class: "button",
                data: { confirm: "Are you sure?" } %>

</div>

